<div class="section" id="installations">
<div id="box3" style="margin-top: -0.5em;">
	<div class="wrapper">
		<h2 style="font-size: 20px; padding-top: 4em; padding-bottom: 3em;  font-family: myFirstFont;">installations</h2>
		
			<div class='icon' style="max-width: 80%">
				<h3 class="name" style="font-family: myFirstFont; color:grey;">EQUILIBerrATIONS 2007 </h3>
				<a href="equil/"><img style="width:12em; height:8em; cursor:pointer" src="img/Install/Equil 2007.gif" ></a>
			</div>

		<div class='icon'>
			<h3 class="name" style="font-family: myFirstFont; color:grey;">BodyScapes 2006</h3>
			<a href="bodyscapes/"><img style="width:12em; height:8em; cursor:pointer" src="img/Install/bodyscapes 2005.jpg" ></a>
		</div>

		<div class='icon'>
			<h3 class="name" style="font-family: myFirstFont; color:grey;">Amphibian S scape 2003</h3>
			<a href="amphibians/"><img style="width:12em; height:8em; transform: cursor:pointer" src="img/Install/amphibians 2002.jpg" ></a>
		</div>

		<div class='icon'>
			<h3 class="name" style="font-family: myFirstFont; color:grey;">Metapolis 2006</h3>
			<a href="metapolis/"><img style="width:12em; height:8em; transform: cursor:pointer" src="img/Install/meta.jpg" ></a>
		</div>


		<div class='icon'>
			<h3 class="name" style="font-family: myFirstFont; color:grey;">Invain 2002</h3>
			<img style="width:12em; height: 8em; cursor:pointer;" src="img/Install/1.jpg"
				onclick="onThumbnailClick(null, 'invain');"  class="w3-hover-opacity">
			</div>


			<div style="text-align: center;" id="invain" class="w3-modal" onclick="onModelCancelClick(this);">
				<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
			<div style="background:rgba(0, 0, 0, 0.0);" class="w3-modal-content w3-animate-zoom">
					<img class="invain" src="img/Install/-1.jpg">
			</div>
			</div>
			</div>



	</div>
</div>
</div>

