<div id="box3" style="margin-top: -0.5em;">
	<div class="wrapper">
		<h2 style="font-size: 20px; padding-top: 2em; padding-bottom: 1em;  font-family: myFirstFont;">installations</h2>
		
			<div class='icon' style="max-width: 80%">
				<h3 class="name" style="font-family: myFirstFont; color:grey;">EQUILIBerrATIONS 2007 </h3>
				<a href="equil"><img style="width:12em; height:8em; cursor:pointer" src="img/Install/Equil 2007.gif" ></a>
			</div>

		<div class='icon'>
			<h3 class="name" style="font-family: myFirstFont; color:grey;">BodyScapes 2006</h3>
			<a href="bodyscapes"><img style="width:12em; height:8em; cursor:pointer" src="img/Install/bodyscapes 2005.jpg" ></a>
		</div>

		<div class='icon'>
			<h3 class="name" style="font-family: myFirstFont; color:grey;">Amphibian S scape 2003</h3>
			<a href="amphibians"><img style="height:11em; transform: rotate(-90deg); cursor:pointer" src="img/Install/amphibians 2002.jpg" ></a>
		</div>
	</div>
</div>