
<div id="box2" style="height: 100vh;"">
<div class="bodywrapper">
	<p style="color:grey; font-family: myFirstFont; padding-top: 1em;">BodyScapes2006</p>
		<% @bodyscapes.each do |project| %>
		<div class='icon'>
			<img style="width:10em; cursor:pointer" src="<%= project[:thumbnail] %>"
			onclick="onThumbnailClick(null, '<%= project[:item_anchor] %>')"  class="w3-hover-opacity">
		</div><div id="<%= project[:item_anchor] %>" class="w3-modal" onclick="onModelCancelClick(this);">
			<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
			<div style="background:rgba(0, 0, 0, 0.0);" class="w3-modal-content w3-animate-zoom">
				<img class="img01" src="<%= project[:image] %>">
			</div>
		</div>
		<%end%>

</div>
</div>

	


		