
<div id="MenuIcon">
	<div id="MenuLine">
	</div>
</div>


<div id="MainMenu">
	<div id="logo">
		<!-- <h4><a href="/"><div class="a">m</div>argarita<div class="a">g</div>aneva</a></h4> -->
	<h4><a style ="font-size: 83%;" href="/">margaritaganeva</a></h4>
	</div>
	<ul>

		<li><a href="/#box2">architecture</a><div class="line"></div></li>
		<li><a href="/#box3">installations</a><div class="line"></div></li>
		<li><a href="/#box4">digital</a><div class="line"></div></li>
		<li><a href="/#box5">sketches</a><div class="line"></div></li>
		<li><a href="/#box6">video</a><div class="line"></div></li>
		<li><a href="/#box7">about</a><div class="line"></div></li>

	</ul>
	<div id="close">
		<!-- <img src="img/Close.png" height="30px" width="30px"/> -->
		<a class="button">X</a>
	</div>   
</div>

<div id="box2" style="height: 100vh;"">
<div class="wrapper">
	<p style="color:grey; font-family: myFirstFont; padding-top: 1em;">BodyScapes2006</p>
				<% (1..4).each do |n|  %>	
		<div class='icon'>
			<img style="width:10em; cursor:pointer" src="img/Install/bodyscapes2005/<%=n%>.jpg"
			onclick="document.getElementById('modal1<%=n%>').style.display='inline'" class="w3-hover-opacity">
		</div><div id="modal1<%=n%>" class="w3-modal" onclick="this.style.display='none'">
			<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
			<div style="background:rgba(0, 0, 0, 0.0);" class="w3-modal-content w3-animate-zoom">
				<img id="img01" src="img/Install/bodyscapes2005/<%=n%>.jpg">
			</div>
		</div>
		<%end%>

</div>
</div>

	


		