bodyscapes.erb

<div class="w3-row-padding">

		<% (1..4).each do |n| %>
			<div class="w3-container w3-third">
				<img  src="img/Install/bodyscapes 2005/<%=n%>.jpg" style="width:100%;cursor:pointer" 
				onclick="onClick(this)" class="w3-hover-opacity">
			</div>

		<%end%>


		<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
			<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
			<div class="w3-modal-content w3-animate-zoom">
				<img id="img01" style="width:100%">
			</div>
		</div>

	</div>