
<div id="box2">
	<div class="equiwrapper">
	<!-- 	<p style="padding-top: 2em;padding-left:3em; color: grey;font-family: myFirstFont;">EQUILIBerrATIONS 2007</p><br> -->

		<div class="videoscontainer">
				<p style="padding-top: 2em; padding-left:0em; color: grey;font-family: myFirstFont;">EQUILIBerrATIONS 2007</p><br>

			<img src="/img/Install/EQUILIBerrATIONS 2007/th1.jpg" style="width:20em; cursor:pointer; padding-top:3em;"
			onclick="onThumbnailClick(null, 'bad1');"  class="w3-hover-opacity"><h3 onclick="onThumbnailClick(null, 'bad1');" class="w3-hover-opacity" class="name" style="font-family: myFirstFont; color:grey;font-size: 11px;cursor:pointer">Breathing Assistance Device (BAD), animation</h3><br>

			<div id="bad1" class="w3-modal" onclick="onVideoModelCancelClick(this);">
				<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
				<div class="w3-modal-content w3-animate-zoom">
					<video style="width:100%" controls>
						<source src="/img/Install/EQUILIBerrATIONS 2007/BAD.mp4" type="video/mp4" >
							Your browser does not support the video tag.
						</video>	
					</div>
				</div>



				<img style="width:20em; cursor:pointer;padding-top: 3em;" src="/img/Install/EQUILIBerrATIONS 2007/th2a.jpg"
				onclick="onThumbnailClick(null, 'bad2')"  class="w3-hover-opacity">
			</img><h3 onclick="onThumbnailClick(null, 'bad2')" class="w3-hover-opacity" class="name" style="font-family: myFirstFont; color:grey;font-size: 11px;cursor:pointer;">Breathing Assistance Device (BAD), animation</h3><br>
			<div id="bad2" class="w3-modal" onclick="onVideoModelCancelClick(this);">
				<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
				<div class="w3-modal-content w3-animate-zoom">
					<video style="width:100%" controls>
						<source src="/img/Install/EQUILIBerrATIONS 2007/2.mp4" type="video/mp4">
							Your browser does not support the video tag.
						</video>
					</div>
				</div>



				<img style="width:20em; cursor:pointer;padding-top: 3em;" src="/img/Install/EQUILIBerrATIONS 2007/th3a.jpg"
				onclick="onThumbnailClick(null, 'bad3');" class="w3-hover-opacity">
			</img><h3 onclick="onThumbnailClick(null, 'bad3');" class="w3-hover-opacity" class="name" style="font-family: myFirstFont; color:grey;font-size: 11px;cursor:pointer;">Equiliberrations video</h3><br>
			<div id="bad3" class="w3-modal" onclick="onVideoModelCancelClick(this);">
				<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
				<div class="w3-modal-content w3-animate-zoom">
					<video style="width:100%" controls>
						<source src="/img/Install/EQUILIBerrATIONS 2007/09-AB2-720p.mp4" type="video/mp4">
							Your browser does not support the video tag.
						</video>
					</div>
				</div>
			</div> 

			<div class="text" style="padding-top:10em; margin-right: 0em; margin-left: 2em;" load="loadImage()">
				<p>Equiliberrations is an experimental video installation unfolding dystopian themes of a society, in which breathable air is commercialized. One part of the installation presents the design of the prosthetic Breathing Assistance Device (BAD), the only method of oxygen supply in the futuristic scenario of oxygen depletion. The second part of the installation is a synchronized video, migrating between two projectors. It deals with themes of mutating consciousness developed as a result of a morphological mutation, which provides an alternative to the functions of Breathing Assistance Device.<br><br>

					The design of BAD is structurally based on gills morphology and procedurally on tracheotomy. Tracheotomy is a standard surgical procedure performed on the neck to open a direct airway through an incision in the trachea. The cut is made through the cricothyroid membrane between thyroid cartilage (Adam's apple) and cricoid cartilage. Gills are the structural prototype for providing adequate surface area to the external environment. Thin plates of tissue and branches facilitate exchange of oxygen and carbon dioxide through their thin walls. A network of spiracles filters out larger particle pollutants from the air. Then the air undergoes additional processing through an internal chemical filter. Artificial photosynthesizer compensates for insufficient oxygen supplies. The overall amphibian characteristics of BAD impart both appealing and sinister aura.<br><br>

					In a very different way this aura is also maintained in the second major part of the installation. The concreteness of BAD is counter-levered by the elusive and ephemeral video stream between two projectors. Subsiding video and rising audio signal from one projector coincides with reverse rising video and subsiding audio signal from the second projector. Allusions to inhale/exhale cycle have different outcomes, frequently suggestive of death. As a side effect of the altered mechanisms of oxygen supply, altered mental processes and perceptions are developed on the boundary of asphyxiation. Threshold states of images and sound intend to invite awareness to the attunement of sensitivity. Beyoundness is allowed to enter within unnerving, strenuous dis/balance of the periodically vacated screen spots. As if there is always something left unseen, untold, missing, ungrasped, subliminal.<br><br>

					Equiliberrations remains torn and disjunctive, with no roots or one direction, no home or hope... It tries to breathe and it suffocates. Etymologic, spatial and temporal stitches entangle its dimensions. Extrapolated directions from scientific, political, philosophical and artistic domains coincide in premeditated imbalance. Vagrant modes of expression calibrate boundaries of disillusionment and despair. A celebration of persistent skepticism or a postmodern float...
				</p>
			</div>
		</div>
	</div>
</div>


	<div id="box2" style="padding-top:2em; margin-top: -0.5em;text-align: center;">
		<div class="equiwrapper">
			<% (1..5).each do |n| %>	
			<div class='equiicon'>
				<img style="width:12em; height: 9em;" src="/img/Install/EQUILIBerrATIONS 2007/<%=n%>.jpg">
			</div>		
			<%end%>
		</div>
	</div>



