<div id="box1">
      
        <h1>marganeva</h1>

    
</div>

<div id="box2">

	<h2>architefracture</h2>

	<div class="w3-row-padding">

		<% (-13..-1).each do |n| %>
			<div class="w3-container w3-third">
				<img style="height:15em; width:15em; padding: 2em;"  src="img/Arch/<%=n%>.jpg" style="width:100%;cursor:pointer" 
				onclick="onClick(this)" class="w3-hover-opacity">
			</div>

		<%end%>


		<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
			<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
			<div class="w3-modal-content w3-animate-zoom">
				<img id="img01" style="width:100%">
			</div>
		</div>

	</div>
</div>



<div id="box3">
	<div class="w3-row-padding">
	<h2 style="color: white;">installations</h2>
	<a href="equil"><img src="img/Install/Equil 2007.gif"></a>
	<a href="bodyscapes"><img src="img/Install/bodyscapes 2005.jpg"></a>
	<a href="amphibians"><img src="img/Install/amphibians 2002.jpg"></a>
</div>
</div>




<div id="box4">

	<h2>digital</h2>

	<div class="w3-row-padding">
	<% (-22..-1).each do |n| %>
		<div class="w3-container w3-third">
			<img style="height:15em; width:15em; padding: 2em;" src="img/Digital art/<%=n%>.jpg" style="width:100%;cursor:pointer" 
			onclick="onClick(this)" class="w3-hover-opacity">
		</div>
	<%end%>
	<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
		<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;<span>
		<div class="w3-modal-content w3-animate-zoom">
			<img id="img01" style="width:100%">
		</div>
	</div>
</div>



<div id="box5">

	<h2 style="color: white;">sketches</h2>

	<div class="w3-row-padding">
	<% (-10..-1).each do |n| %>
		<div class="w3-container w3-third">
			<img style="height:15em; width:15em; padding: 2em;" src="img/Art/<%=n%>.jpg" style="width:100%;cursor:pointer" 
			onclick="onClick(this)" class="w3-hover-opacity">
		</div>
	<%end%>
	<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
		<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;<span>
		<div class="w3-modal-content w3-animate-zoom">
			<img id="img01" style="width:100%">
		</div>
	</div>
</div>


<div id="box6">
	<div class="w3-row-padding">
<h3>videos</h3>
</div>

<div id="box7">
	<div class="w3-row-padding">
<h3>about</h3>
</div>
