<div id="MenuIcon">
	<div id="MenuLine"></div>
</div>


<div id="MainMenu">
	<div id="logo">
		<h4><a href="/"><div class="a">m</div>argarita<div class="a">g</div>aneva</a></h4>

	</div>
	<ul>

		<li><a href="/#box2">architecture</a><div class="line"></div></li>
		<li><a href="/#box3">installations</a><div class="line"></div></li>
		<li><a href="#box4">digital</a><div class="line"></div></li>
		<li><a href="#box5">sketches</a><div class="line"></div></li>
		<li><a href="#box6">video</a><div class="line"></div></li>
		<li><a href="#box7">about</a><div class="line"></div></li>

	</ul>
	<div id="close">
		<!-- <img src="img/Close.png" height="30px" width="30px"/> -->
		<a class="button special">close</a>
	</div>  
</div>



<div id="box1">

	<!-- 	<h1>marganeva</h1> -->

	<div class="image">
		<iframe src="three" width="150%" height="100%" scrolling="no">
			<p>Your browser does not support iframes.</p>
		</iframe>
	</div>

</div>

<div id="box2">

	<div class="wrapper">
		<h2 style="color: white;">architecture</h2>
		<% (-13..-1).each do |n| %>	
		<div class='icon'>
			<img style="height:11em; width:11em;" src="img/Arch/<%=n%>.jpg" style="cursor:pointer" 
			onclick="onClick(this)" class="w3-hover-opacity">
		</div>		
		<%end%>
		<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
			<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
			<div class="w3-modal-content w3-animate-zoom">
				<img id="img01" style="width:100%">
			</div>
		</div>
	</div>
</div>




<div id="box3">
	<div class="wrapper">
		<h2 style="color: white;">installations</h2>
		<div class='icon'>
			<a href="equil"><img style="height:11em; width:11em;" src="img/Install/Equil 2007.gif" style="cursor:pointer"></a>
		</div>
		<div class='icon'>
			<a href="bodyscapes"><img style="height:10em; width:10em;" src="img/Install/bodyscapes 2005.jpg" style="cursor:pointer"></a>
		</div>
		<div class='icon'>
			<a href="amphibians"><img style="height:10em; width:10em;" src="img/Install/amphibians 2002.jpg" style="cursor:pointer"></a>
			<div class='icon'>
			</div>
		</div>
	</div>
</div>





<div id="box4">
	<div class="wrapper">
		<h2 style="color: white;">digital</h2>
		<% (-22..-1).each do |n| %>	
		<div class='icon'>
			<img style="height:11em; width:11em;" src="img/Digital art/<%=n%>.jpg" style="cursor:pointer" 
			onclick="onClick(this)" class="w3-hover-opacity">
		</div>	
		<%end%>
		<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
			<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
			<div class="w3-modal-content w3-animate-zoom">
				<img id="img01" style="width:100%">
			</div>
		</div>
	</div>
</div>




<div id="box5">
	<div class="wrapper">
		<h2 style="color: white;">sketches</h2>
		<% (-10..-1).each do |n| %>
		<div class="icon">
			<img style="height:10em; width:10em;" src="img/Art/<%=n%>.jpg" style="cursor:pointer" 
			onclick="onClick(this)" class="w3-hover-opacity">
		</div>	
		<%end%>
		<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
			<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
			<div class="w3-modal-content w3-animate-zoom">
				<img id="img01" style="width:100%">
			</div>
		</div>
	</div>
</div>






<div id="box6">
	<div class="w3-row-padding">
		<h3>videos</h3>
	</div>
</div>

<div id="box7">
	<div class="w3-row-padding">
		<h3>about</h3>
	</div>
</div>
