<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->

  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  <link href='https://fonts.googleapis.com/css?family=Raleway|Roboto' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/js/application.js"></script>

  
  <title></title>
</head>

        <div id="MenuIcon">
          <div id="MenuLine"></div>
        </div>


        <div id="MainMenu">
          <div id="logo">
            <h4><a href="/"><div class="a">m</div>argarita<div class="a">g</div>aneva</a></h4>
            
          </div>
          <ul>
            
            <li><a href="/#box2">architecture</a><div class="line"></div></li>
            <li><a href="/#box3">installations</a><div class="line"></div></li>
            <li><a href="#box4">digital</a><div class="line"></div></li>
            <li><a href="#box5">sketches</a><div class="line"></div></li>
            <li><a href="#box2">video</a><div class="line"></div></li>
            <li>contact<div class="line"></div></li>

          </ul>
          <div id="close">
            <!-- <img src="img/Close.png" height="30px" width="30px"/> -->
            <a class="button special">close</a>
          </div>  
        </div>

<body>

  <%= yield %>

</body> 
</html>
