<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<title>My first three.js app</title>
		<style>
			body { margin: 0; }
			canvas { width: 100%; height: 100% }
		</style>
	</head>
	<body>
		<script src="js/three.js"></script>
		<script>

			var scene = new THREE.Scene();
			var camera = new THREE.PerspectiveCamera( 50, window.innerWidth/window.innerHeight, 0.1, 1000 );

			//field of view, aspect ratio, near and far clipping plane

			var renderer = new THREE.WebGLRenderer();
			renderer.setSize( window.innerWidth, window.innerHeight );
			document.body.appendChild( renderer.domElement );


			var geometry = new THREE.BoxGeometry(2, 2, 50, 10, 10, 30);
			var material = new THREE.MeshBasicMaterial( { wireframe: true, color: 0x00caf5, shading: THREE.SmoothShading, transparent: true, opacity: 0.1 } );
			var cube = new THREE.Mesh( geometry, material ); 
			scene.add( cube );




			// 00caf5
			// var geometry = new THREE.TorusKnotGeometry( 10, 3, 100, 16 );
			// var material = new THREE.MeshBasicMaterial( { wireframe: true, color: 0x00ff00, shading: THREE.SmoothShading, transparent: true, opacity: 0.5 }  );
			// var torusKnot = new THREE.Mesh( geometry, material );
			// scene.add( torusKnot );



			camera.position.z = 25;

			var render = function () {
				requestAnimationFrame( render );
				//better than setInterval
				cube.rotation.x += 0.000;
				cube.rotation.y += 0.000;
				cube.rotation.z += 0.002;


				renderer.render(scene, camera);
			};

			render();


		</script>
	</body>
</html>